---
layout: default
---
{{ include JB/setup }}

<section class="box translations">
  <header class="box-top">
    <h1 class="box-title f-left">翻译的书</h1>
  </header>
  <div class="box-inner">
    <ul class="book-list">
      {% for books in site.data.trans %}
        {% for book in books[1] %}
          {% if book.featured %}
            {% if book.url != null %}
              {% assign book_url = book.url %}
            {% else %}
              {% assign book_url =  book.slug | append: '.html' | prepend: '/books/' %}
            {% endif %}
            <li><a href="{{ book_url }}" title="{{ book.title }}"><img src="assets/images/{{ book.image }}" height="164" alt="{{ book.title }}" title="{{ book.title }}" /></a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <footer class="box-bottom">
    <p class="more"><a href="/books/" title="更多图书">更多图书 &raquo;</a></p>
  </footer>
</section>

<section class="box books">
  <header class="box-top">
    <h1 class="box-title f-left">自己写的书</h1>
  </header>
  <div class="box-inner">
    <ul class="book-list">
      {% for book in site.data.books %}
        {% if book.featured %}
          {% if book.url != null %}
            {% assign book_url = book.url %}
          {% else %}
            {% assign book_url =  book.slug | append: '.html' | prepend: '/books/' %}
          {% endif %}
          <li><a href="{{ book_url }}" title="{{ book.title }}"><img src="/assets/images/{{ book.image }}" height="164" alt="{{ book.title }}" title="{{ book.title }}" /></a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <footer class="box-bottom">
    <p class="more"><a href="/books/" title="更多图书">更多图书 &raquo;</a></p>
  </footer>
</section>

<section class="box recent">
  <header class="box-top">
    <h1 class="box-title">最新文章</h1>
  </header>
  <div class="box-inner">
    <ul>
      {% for post in site.posts limit: 20 %}
      <li><span>{{ post.date | date: "%b %d, %Y" }}</span> &raquo; <a rel="bookmark" href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.title | escape }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <footer class="box-bottom">
    <p class="more"><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}" title="文章归档">更多文章 &raquo;</a></p>
  </footer>
</section>
