---
layout: default
---

<section class="book-list">
  <h2 class="section-title"><span>翻译/写的书</span></h2>
  <ul>
  {% for meta in site.data.meta.books %}
    {% for book in site.data.books[meta['slug']] %}
      {% if book.featured %}
        {% if book.url != null %}
          {% assign book_url = book.url %}
        {% else %}
          {% assign book_url =  book.slug | append: '/' | prepend: '/books/' | prepend: site.baseurl %}
        {% endif %}
        <li><a href="{{ book_url }}" title="{{ book.title }}"><img src="{{ site.baseurl }}/assets/images/covers/{{ book.image }}" height="164" alt="{{ book.title }}" title="{{ book.title }}" /></a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
  <p class="more"><a href="{{ site.baseurl }}/books/" title="更多图书">更多图书 &raquo;</a></p>
</section>

<section class="post-list">
  <h2 class="section-title"><span>最新文章</span></h2>
  <ul>
  {% for post in site.posts limit: 10 %}
    <li><span>{{ post.date | date: "%b %d, %Y" }}</span> &raquo; <a rel="bookmark" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
  <p class="more"><a href="{{ site.baseurl }}/archive/" title="文章归档">更多文章 &raquo;</a></p>
</section>

<section class="websites">
  <h2 class="section-title"><span>名下网站</span></h2>
  <ul>
  {% for website in site.data.websites %}
    <li><a href="{{ website.url }}" title="{{ website.desc | escape }}" target="_blank">{{ website.url }}</a></li>
  {% endfor %}
  </ul>
</section>

<section class="featured">
  <h5>倾情推荐</h5>
  <p><a href="http://self.pub" title="自出版好书推荐" target="_blank"><img src="{{ site.baseurl }}/assets/images/self.pub.png" width="144" height="33" alt="自出版好书推荐" title="自出版好书推荐" /></a></p>
</section>
