    <footer class="site-footer inner">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="socials">
          <li><a href="{{ site.baseurl }}/feed.xml" title="订阅网站更新"><i class="fa fa-rss"></i></a></li>
          <li><a href="mailto:andor.chen.27@gmail.com" title="电子邮件"><i class="fa fa-inbox"></i></a></li>
          <li><a href="https://twitter.com/Andor_Chen" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://www.weibo.com/andor27/" title="微博" target="_blank"><i class="fa fa-weibo"></i></a></li>
          <li><a href="https://github.com/AndorChen" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>

        <p class="copyright">&copy; {{ site.author_cn }} 1988- 。如无特殊说明，本站内容基于“<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh" title="CC BY-NC-SA 3.0" target="_blank">CC BY-NC-SA 3.0</a>”发布。</p>
      </div>
    </footer>
  </div>
</body>
</html>
