{% include helpers.liquid %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8"/>
  <title>{{ page | get_title }}{{ site.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="{{ site.description}}" />
  <meta name="author" content="{{ site.author }}" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css" />
  <script src="{{ site.baseurl }}/assets/js/global.js" async></script>
</head>
<body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>

<div class="wrapper">
  <header id="site_header" class="header mobile-menu-hide">
    <div class="avatar">
      <a href="{{ site.baseurl }}/" title="首页"><img src="{{ site.baseurl }}/assets/images/painting.png" alt="Andor's Avatar" /></a>
      <div class="mask"></div><!-- ? -->
    </div>

    <div class="site-title-block">
      <h1 class="site-title"><a href="{{ site.baseurl }}/" title="首页">{{ site.author }}</a></h1>
      <p class="site-description">高校教师<br />自由翻译</p>
    </div>

    <div class="site-nav">
      <ul id="nav" class="site-main-menu">
        <li{% if page.body_class == 'home-page' %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/" title="">首页</a>
        </li>
        <li{% if page.body_class == 'books-page' or page.body_class == 'book-page' %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/books/" title="">图书</a>
        </li>
        <li{% if page.body_class == 'archive-page' or page.body_class == 'single-post-page' %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/archive/" title="">文章</a>
        </li>
      </ul>

      <ul class="social-links">
        <li><a href="https://twitter.com/Andor_Chen" title="Twitter" target="_blank" rel="noopenner"><i class="icon-twitter"></i></a></li>
        <li><a href="https://github.com/AndorChen" title="GitHub" target="_blank" rel="noopenner"><i class="icon-github-circled"></i></a></li>
        <li><a href="{{ site.baseurl }}/contact/" title="联系安道"><i class="icon-wechat"></i></a></li>
        <li><a href="{{ site.baseurl }}/feed.xml" title="订阅网站更新"><i class="icon-rss"></i></a></li>
      </ul>
    </div>
  </header>

  <div class="mobile-header mobile-visible">
    <div class="mobile-logo-container">
      <div class="mobile-site-title">{{ site.author }}</div>
    </div>

    <a class="menu-toggle mobile-visible">
      <i class="icon-menu"></i>
    </a>
  </div>

  <div id="main" class="site-main">
    <div class="inner-main">
