---
layout: default
---

<% if page.id.include?('/_pages/stamps/') && !page.id.include?('index.md') %>
<div class="mb-4">
  <a href="/" title="首页">首页</a> // <a href="/stamps/" title="邮票">邮票</a>
</div>
<% end %>

<article class="prose prose-invert full-page">
  <header>
    <h1><%= page.data.title %></h1>
  </header>

  <main>
    <%= content %>
  </main>
</article>
