<div class="content">
  <div class="wrapper">
    <div class="main">
      {{ content }}
    </div>

    <div class="sidebar">
      <aside id="bio" class="box">
        <header class="box-top">
          <img class="avatar" src="{{ ASSET_PATH }}/img/andor.jpg" width="48" height="48" alt="Andor's Avatar" />
          <strong>{{ site.author.name }}</strong>
          笔名：{{ site.author.pen_name }}
        </header>
        <div class="box-inner"><p>{{ site.author.bio }}</p></div>
        <footer class="box-bottom">
          <a class="rss" href="http://feeds.feedburner.com/AndorChen" rel="alternate" title="订阅网站更新">RSS</a>
        </footer>
      </aside>

      <aside id="tags" class="box">
        <header class="box-top">
          <h1 class="aside-title">话题</h1>
        </header>
        <div class="box-inner">
          {% assign tags_list = site.tags %}
	        {% include JB/tags_list %}
        </div>
      </aside>

      <aside id="socials" class="box">
        <header class="box-top">
          <h1 class="aside-title">社交</h1>
        </header>
        <div class="box-inner">
          <ul>
            <li id="twitter"><a class="ir" href="https://twitter.com/Andor_Chen" title="@Andor_Chen" rel="external">@Andor_Chen</a></li>
            <li id="douban"><a class="ir" href="http://www.douban.com/people/Andor/" title="豆瓣" rel="external">豆瓣</a></li>
            <li id="v2ex"><a class="ir" href="http://www.v2ex.com/member/Andor_Chen" title="V2EX" rel="external">V2EX</a></li>
            <li id="github"><a class="ir" href="https://github.com/AndorChen" title="github" rel="external">github</a></li>
            <li id="diandian"><a class="ir" href="http://andorchen.diandian.com/" title="Andor's Tumblog" rel="external">Andor's Tumblog</a></li>
          </ul>
        </div>
      </aside>

      <aside id="projects" class="box">
        <header class="box-top">
          <h1 class="aside-title">个人项目</h1>
        </header>
        <div class="box-inner">
          <p><a href="http://self.pub" title="自出版好书推荐" target="_blank"><img src="/assets/images/self.pub.png" alt="自出版好书推荐" title="自出版好书推荐" width="144" height="33" /></a></p>
        </div>
      </aside>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
