---
---

@import 'bootstrap';
@import 'font';

@mixin decorated_heading {
  display:inline-block;
  border-bottom: 2px solid #ffcd38;
  padding-bottom: 5px;
}

body {
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  font-family: -apple-system, // for Safari and Firefox
               BlinkMacSystemFont, // for Chrome
               "Helvetica Neue",
               "Segoe UI",  // Win 8
               "Luxi Sans",
               "DejaVu Sans",
               Tahoma,
               "PingFang SC",
               "Hiragino Sans GB",
               STHeiti,
               "Microsoft Yahei",
               "Source Han Sans SC",
               "Noto Sans CJK SC",
               "Source Han Sans CN",
               "Noto Sans SC",
               "Source Han Sans TC",
               "Noto Sans CJK TC",
               "WenQuanYi Micro Hei",
               sans-serif;
  height: 100%;
}

a:link, a:visited {
  color: #0099CC;
  text-decoration: none;
  outline: none;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

a:hover, a:active {
  color: #006699;
  text-decoration: none;
  outline: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.wrapper {
  position: relative;
  height: 100%;
}

//------- Header (at side)

.header {
  position: fixed;
  width: 22%;
  height: 100%;
  background-color: #fff;
  overflow: auto;
}

.avatar {
  position: relative;
  margin: 30px auto 20px;
  max-width: 110px;
  text-align: center;
  z-index: 0;
}

.avatar img {
  position: relative;
  border-radius: 200px;
  border: 2px solid #e5e5e5;
}

.site-title-block {
  position: relative;
  z-index: 1;
  margin: 20px 20px 10px;
  text-align: center;
}

.site-title {
  color: #222;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1em;
  margin: 15px 0 0 0;

  a {
    color: #222;
  }
}

p.site-description {
  color: #9c9c9c;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
}

// Main menu
.site-nav {
  display: block;
  padding: 25px 0 30px;
}
.site-main-menu {
  display: block;
  padding: 0;
  margin: 0;
}

.site-main-menu li {
  display: block;
  position: relative;
  padding: 0;
  text-align: center;
}

.site-main-menu li a,
.site-main-menu li a:hover {
  display: block;
  position: relative;
  padding: 10px 20px;
  text-align: center;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid #f5f5f5;
  outline: none;
}

.site-main-menu li:first-child a {
  border-top: 1px solid #f5f5f5;
}

.site-main-menu li a:hover,
.site-main-menu li.active a {
  background-color: #fcfcfc;
}

.site-main-menu li a:hover:after,
.site-main-menu li.active a:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  width: 3px;
  height: 100%;
  margin: 0 auto;
  background-color: #eee;
}

.site-main-menu li.active a:after {
  background-color: #ffcd38;
}
// /Main menu

// Social links
ul.social-links {
  display: block;
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
  text-align: center;
}

ul.social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.social-links li a {
  display: inline-block;
  margin: 0 2px;
  width: 28px;
  height: 28px;
  color: #888;
  background-color: #eee;
  text-align: center;
}

ul.social-links li a:hover {
  color: #fff;
  background-color: #ffcd38;
}

ul.social-links li a i {
  font-size: 14px;
  line-height: 28px;
}

ul.social-links li a:hover i {
  color: #fff;
}

ul.social-links li a:hover {
  color: #ffcd38;
}

ul.social-links li:last-child a {
  margin-right: 0;
}
// /Social links

.menu-toggle {
  display: block;
  width: 50px;
  margin: 0 4px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  float: right;
}

.menu-toggle i {
  color: #222;
  font-size: 21px;
  line-height: 50px;
}

.mobile-visible {
  display: none;
  visibility: hidden;
}

//------- /Header (at side)


//------- Main area

.site-main {
  height: 100%;
  margin-left: 22%;
  position: relative;
  background-color: #fff;
  border-left: 5px solid #eee;
}

.inner-main {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: -5px;
  padding: 50px 5px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.section {
  padding: 0 70px 50px;
}

.section-header {
  margin-bottom: 40px;
}

.section-title {
  display: inline-block;
  margin: 0 0 0 -65px;
  padding: 10px 40px 10px 63px;
  background-color: #ffcd38;
  color: #fff;
  line-height: 1.1;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4);
  position: relative;

  &:after {
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    bottom: 5px;
    left: -5px;
    content: "";
    border: 1px solid #ebbd34;
    transform: skew(0deg,65deg);
    -ms-transform: skew(0deg,65deg);
    -webkit-transform: skew(0deg,65deg);
    -o-transform: skew(0deg,65deg);
    -moz-transform: skew(0deg,65deg);
    background: #ebbd34;
  }
}

.section-subtitle {
  @include decorated_heading;
  font-size: 18px;
  margin: 0 0 15px;
}

.section-content > .row > div {
  margin-bottom: 50px;
}

.services {
  .section-subtitle {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 16px;
    text-align: center;
    margin: 0 0 10px;
  }

  img {
    max-width: 100px;
    max-height: 74px;
    display: block;
    margin: 0 auto 10px;
  }
}

.books-page .book-list {
  margin-bottom: 50px;
}

.book-list {

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .book-cover {
    vertical-align: middle;
    height: 164px;

    img {
      max-height: 164px;
      box-shadow: 0 0 5px rgba(0,0,0,.3);
    }
  }

  .book-title {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 15px;

    a:link, a:visited {
      color: #666;
    }

    a:hover, a:active {
      color: #666;
      text-decoration: underline;
    }
  }
}

.recent-article-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li span {
    font-family: Menlo, "Droid Sans Mono", "DejaVu Sans Mono", "Luxi Mono", "Courier New", Monaco, monospace;
    color: #acacac;
  }
}

.more {
  a:link, a:visited {
    color: #666;
  }

  a:hover, a:active {
    color: #666;
    text-decoration: underline;
  }
}

.client-list {
  color: #acacac;
}

.site-list {
  font-family: Menlo, "Droid Sans Mono", "DejaVu Sans Mono", "Luxi Mono", "Courier New", Monaco, monospace;
  color: #acacac;
}

.home-page p {
  color: #666;
}

// Entry

.entry-header {
  border-bottom: 2px solid #ffcd38;
  margin-bottom: 40px;
}

.entry-meta {
  color: #666;
}

.single-post-page .entry-content {
  h2, h3, h4, h5, h6 {
    @include decorated_heading;
  }
}

.archive-page .entry-content h2,
.tags-page .entry-content h2 {
  @include decorated_heading;
}

.entry-content {
  figure {
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 10px;
    text-align: center;
  }

  figcaption {
    margin-top: 10px;
  }

  code {
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

.entry-tags {
  list-style-type: none;
  text-align: right;
  margin-top: 20px;

  li {
    display: inline-block;
    margin-right: 10px;
  }
}

// Book page

.purchase {
  float: right;
  margin: 0 0 20px 20px;

  img {
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    max-height: 164px;
  }
}

.unpublish, .wip, .pending {
  background-color: #f0ad4e;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.wip {
  background-color: #5bc0de;
}
.pending {
  background-color: #d9534f;
}

// /Book page

//------- /Main area

//------- Footer

.footer {
  color: #666;
  padding-bottom: 30px;
  text-align: center;
}

//------- /Footer

//------- Media Query

@media only screen and (max-width: 1200px) {
  .header {
    width: 26%;
  }

  .site-main {
    margin-left: 26%;
  }
}

@media only screen and (max-width: 991px) {
  .mobile-visible {
    display: block;
    visibility: visible;
  }

  .header {
    width: 100%;
    max-width: 320px;
    height: calc(100% - 50px);
    top: 50px;
    z-index: 999;
    -webkit-box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.1);
    -webkit-transition: all 0.66s ease-in-out;
    -moz-transition: all 0.66s ease-in-out;
    -o-transition: all 0.66s ease-in-out;
    -ms-transition: all 0.66s ease-in-out;
    transition: all 0.66s ease-in-out;
  }

  .avatar {
    margin-top: 30px;
  }

  .site-title {
    font-size: 27px;
  }

  .mobile-header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
    z-index: 1000;
  }

  .mobile-logo-container {
    margin: 0 20px;
    text-align: left;
  }

  .mobile-site-title {
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 500;
    font-family: Oswald, Helvetica, sans-serif;
    margin: 0;
    line-height: 50px;
  }

  .site-title-block .site-description {
    display: none;
  }

  .site-main {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .mobile-menu-hide {
    margin-left: -100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .inner-main {
    margin: 0;
    padding: 0;
  }

  .section {
    padding: 15px 20px 60px;
  }

  .section-title {
    margin-left: -20px;
    padding-left: 20px;
  }

  .section-content > .row > div {
    margin-bottom: 20px;
  }

  .services p {
    text-align: center;
  }

  .books-page .book-list {
    margin-bottom: 50px;
  }

  .purchase {
    float: none;
    margin: 0;
  }
}

//------- /Media Query
