body {
    color: #333;
    font: 14px/1.6 "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB","Microsoft Yahei", STHeiti, sans-serif;
}

a {
    color: #778087;
}

a:hover,
a:active,
a:focus {
    color: #4d5256;
}

img.border {
    border: 1px solid #acacac;
}

.wrapper {
    background: #fff url('images/wrapper_bg.jpg') repeat left top;
    margin: 0 auto;
    width: 50%;
}

.inner {
    padding: 0 40px;
}

/* Header */

.site-header {
    margin-bottom: 80px;
}

.avatar {
    margin: 36px auto 18px;
    border: 1px solid #acacac;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.logo {
    font-size: 40px;
    font-weight: normal;
    margin: 0 0 18px;
    padding: 0;
    text-align: center;
}

.logo a {
    color: #333;
}

.logo a:hover,
.logo a:active,
.logo a:focus {
    color: #333;
    text-decoration: none;
}

.description {
    margin: 0 auto 18px;
    padding: 0;
    text-align: center;
    width: 80%;
    font-size: 18px;
}

.logo:after,
.description:after {
    content: "";
    display: block;
    margin: 0 auto;
    padding: 0 0 18px;
    background: transparent url('images/divider_thin.png') repeat-x left bottom;
    width: 160px;
    height: 2px;
}

.status {
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
}

.indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: middle;
}

.available {
    background-color: #337ab7;
}

.unavailable {
    background-color: #d9534f;
}

/* Home */

.section-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.section-title span {
    background: transparent url('images/divider_thick.png') repeat-x left bottom;
    padding: 0 20px 8px 20px;
}

.more {
    text-align: right;
}

.book-list ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.book-list li {
    float: left;
    margin-right: 6px;
    margin-bottom: 10px;
}

.book-list img {
    border: 1px solid #acacac;
}

.book-list a:hover img {
    border-color: #646464;
}

.post-list ul {
    color: #acacac;
    padding-left: 1.5em;
    list-style-type: none;
}

.post-list li span {
    font-family: Menlo, "DejaVu Sans Mono", "Luxi Mono", "Courier New", Monaco, monospace;
}

.websites ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    font-family: Menlo, "DejaVu Sans Mono", "Luxi Mono", "Courier New", Monaco, monospace;
}

.featured {
    margin-top: 30px;
    text-align: center;
}

/* Entry */

.entry-header {
    text-align: center;
}

.entry-meta {
    color: #646464;
    margin-bottom: 20px;
}

.entry-content code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}

.entry-content a {
    color: #c7254e;
}

.entry-content h2 {
    font-size: 22px;
}

.entry-content h3 {
    font-size: 20px;
}

.entry-content h4 {
    font-size: 18px;
}

.entry-content h5 {
    font-size: 16px;
}

.entry-content h6 {
    font-size: 14px;
}

.entry-content figure {
    margin: 0 0 10px;
    padding: 15px;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
}

.entry-content figcaption {
    margin: 5px 0 0;
}

.entry-content .footnote {
    padding: 0 5px;
}

.entry-content .footnotes {
    border-top: 3px double #222;
    color: #666;
    margin-top: 20px;
}

.entry-content .footnotes ol {
    margin-top: 20px;
    padding-left: 1.5em;
}

.entry-content .footnotes li p {
    margin-bottom: 10px;
}

.entry-tags {
    list-style-type: none;
    text-align: right;
    margin-top: 20px;
}

.entry-tags li {
    display: inline-block;
    margin-left: 10px;
}

/* Archive Page */

.archive-page h2,
.archive-page h3 {
    font-size: 20px;
}

.archive-page h3 {
    margin-left: 1em;
}

/* Book(s) Page */

.books-page .section-title {
    text-align: left;
}

.books-page .section-title span {
    display: block;
    background-image: url('images/divider_thin.png');
    width: 100%;
    padding: 0 0 8px;
}

.book-title {
    margin: 20px 0 40px;
}

.unpublish, .wip, .pending {
    background-color: #f0ad4e;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.wip {
    background-color: #5bc0de;
}

.pending {
    background-color: #d9534f;
}

.purchase {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.purchase ul {
    list-style-type: none;
    padding-left: 1em;
}

/* Buy page */

.buy-page .book-meta {
    margin-left: 6px;
}

/* Footer */

.site-footer {
    margin-top: 30px;
    text-align: center;
}

.socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socials li {
    display: inline-block;
}

.socials a {
    display: inline-block;
    margin: 14px 8px;
    padding: 0;
    color: #acacac;
    font-size: 26px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.socials a:hover,
.socials a:active,
.socials a:focus {
    color: #424242;
    text-decoration: none;
}

.socials a.douban {
    font-size: 22px;
}

.copyright {
    color: #646464;
}

/* Debug info */

.debug {
    overflow: hidden;
}

/* Media Queries */

@media (min-width: 993px) and (max-width: 1200px) {
    .wrapper {
        width: 60%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .wrapper {
        width: 70%;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .wrapper {
        width: 100%;
    }

    .inner {
        padding: 0 15px;
    }
}

@media (min-width: 769px) {
    /* Only load big background image on bigger screen */
    body{
        background: #424242 url('http://andorpublic.qiniudn.com/aboutac_body_bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
