---
layout: page
title: 图书
class: 'books-page'
permalink: '/books/'
---

{% for meta in site.data.meta.books %}
  {% assign category = meta['slug'] %}
  {% assign books = site.data.books[category] %}

  <section class="book-list {{ category }}-book-list">
    <h2 class="section-title"><span>{{ meta['name'] }}</span></h2>
    <ul>
    {% for book_hash in books %}
      {% assign book_slug = book_hash[0] %}
      {% assign book = book_hash[1] %}

      {% if book.url != null %}
        {% assign book_url = book.url %}
      {% else %}
        {% assign book_url =  book_slug | append: '/' | prepend: '/books/' | prepend: site.baseurl %}
      {% endif %}
      <li><a href="{{ book_url }}" title="{{ book.title }}"><img src="{{ site.baseurl }}/assets/images/covers/{{ book_slug }}.jpg" height="164" alt="{{ book.title }}" title="{{ book.title }}" /></a></li>

      {% assign book_slug = nil %}
      {% assign book = nil %}
    {% endfor %}
    </ul>
  </section>

  {% assign category = nil %}
  {% assign books = nil %}
{% endfor %}


