---
layout: page
title: 图书
class: 'books-page'
permalink: '/books/'
---

{% for meta in site.data.meta.books %}
  {% assign slug = meta['slug'] %}
  <section class="book-list {{ slug }}-list inner">
    <h2 class="section-title"><span>{{ meta['name'] }}</span></h2>
    <ul>
    {% for book in site.data.books[slug] %}
      {% if book.url != null %}
        {% assign book_url = book.url %}
      {% else %}
        {% assign book_url =  book.slug | append: '/' | prepend: '/books/' | prepend: site.baseurl %}
      {% endif %}
      <li><a href="{{ book_url }}" title="{{ book.title }}"><img src="{{ site.baseurl }}/assets/images/{{ book.image }}" height="164" alt="{{ book.title }}" title="{{ book.title }}" /></a></li>
    {% endfor %}
    </ul>
  </section>
{% endfor %}
