---
layout: page
title: 图书
body_class: 'books-page'
permalink: '/books/'
---

{% for meta in site.data.meta.books %}
  {% assign category = meta['slug'] %}
  {% assign books = site.data.books[category] %}

  <div class="book-list {{ category }}-book-list">
    <h2 class="section-subtitle">{{ meta['name'] }}</h2>
    <div class="row">
    {% for book_hash in books %}
      {% assign book_slug = book_hash[0] %}
      {% assign book = book_hash[1] %}

      {% if book.url != null %}
        {% assign book_url = book.url %}
      {% else %}
        {% assign book_url =  book_slug | append: '/' | prepend: '/books/' | prepend: site.baseurl %}
      {% endif %}
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="book-info">
          <div class="book-cover">
            <a href="{{ book_url }}" title="{{ book.title | escape }}"><img src="{{ site.baseurl }}/assets/images/covers/{{ book_slug }}.jpg" alt="{{ book.title | escape }}" title="{{ book.title | escape }}" /></a>
          </div>
          <h3 class="book-title"><a href="{{ book_url }}" title="{{ book.title | escape }}">{{ book.title }}</a></h3>
        </div>
      </div>

      {% assign book_slug = nil %}
      {% assign book = nil %}
    {% endfor %}
    </div>
  </div>

  {% assign category = nil %}
  {% assign books = nil %}
{% endfor %}
