</main>

<footer class="mt-20">
  <p>&copy;1988-&infin;。如无特殊说明，本站文章基于“<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh" title="CC BY-NC-SA 3.0" target="_blank" rel="noopenner">CC BY-NC-SA 3.0</a>”协议发布。</p>
  <p>使用 <a href="https://bridgetownrb.com/" title="Bridgetownrb" target="_blank" rel="noopenner">Bridgetownrb</a> 构建，使用 <a href="https://draculatheme.com/" title="Dracula" target="_blank" rel="noopenner">Dracula</a> 配色，部署在 <a href="https://pages.github.com/" title="GitHub Pages" target="_blank" rel="noopenner">GitHub Pages</a> 上。</p>
  <p>感谢开放的网络世界。</p>
</footer>

</div>
</body>
</html>
